{% extends 'base.html' %}

{% block content %}
    <section class="site-section py-lg">
        <div class="container">
            <div class="row blog-entries">
                <div class="col-md-2" style="padding:0px"></div>
                <div class="col-md-8" style="padding:0px">
                    <div class="sidebar-box search-form-wrap">
                        <form action="/" class="search-form" method="get">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="icon fa fa-search" type="submit">
                                <input type="text" class="form-control" id="s" name="s" value="{{ search }}"
                                       placeholder="Search...">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-2" style="padding:0px"></div>
            </div>
            <div class="row blog-entries">
                <div class="col-md-5" style="padding:0px"></div>
                <div class="col-md-2" style="padding:0px">

                    <!-- END sidebar-box -->



                    {% for img, metadata_obj in img_list %}

                        <div class="post-entry" style="width:100%; font-size:80%; text-align:center;">
                            <img src="{{ img }}" alt="Image placeholder" class="img-fluid">
                            <a href="https://tau-primo.hosted.exlibrisgroup.com/primo-explore/search?query=any,contains,wiener%20tau%20archive%20online%20{{ metadata_obj }}&tab=default_tab&search_scope=TAU_Blended&vid=TAU&lang=iw_IL&offset=0">
                                {{ metadata_obj }} in Wiener TAU archive
                            </a>

                        </div>
                        <form action="{% url 'info' %}" method="post" target="_blank">
                            {% csrf_token %}
                            <input type='hidden' class="form-control" id='img' name="img" value="{{ img }}"/>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="submit" value="Show document" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                </div>
                <div class="col-md-5" style="padding:0px"></div>

            </div>
            <div class="row blog-entries">
                <div class="col-md-2" style="padding:0px"></div>
                <div class="col-md-8" style="padding:0px">
                    <span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ msg }}</span>
                </div>
                <div class="col-md-2" style="padding:0px"></div>
            </div>

            <!-- END sidebar -->
        </div>
    </section>


{% endblock %}