{% extends 'base.html' %}

{% block content %}
    <section class="site-section py-lg">
        <div class="container">
            <div class="row blog-entries">
                <div class="col-md-2" style="padding:0px"></div>
                <div class="col-md-8" style="padding:0px">
                    <div class="post-entry">
                        <a href="">
                            <img src="{{ img }}" alt="Image placeholder" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-2" style="padding:0px"></div>
            </div>
        </div>
    </section>


{% endblock %}